<%- include('partials/head') %>

    <body>
        <div class="container py-md-5 mt-5 container--narrow">
            <div class="text-center">
                <h2>Whoops, we cannot find that page.</h2>
                <p class="lead text-muted">You can always visit the <a href="/">homepage</a> to get a fresh start.
                </p>
            </div>
            <img src="https://www.overheaddoordenver.com/images/img_404.png" alt="404" width="300px"
                class="d-block m-auto mt-5">
        </div>