<%- include('./partials/head.ejs') %>

<body class="w-75 mt-5 mb-5 m-auto">
    <div class="container">
        <h1 >Recursos Humanos de Node.js</h1>

        <form id="login-form" class="w-25 mt-5">
            <div class="mb-3">
              <label for="emp_id" class="form-label">Expediente:</label>
              <input type="text" class="form-control" name="id" id="emp_id" required>
            </div>
            <div class="mb-3">
              <label for="emp_pass" class="form-label">Password</label>
              <input type="password" class="form-control" name="password" id="emp_pass" required>
            </div>

            <button type="submit" class="btn btn-primary">Acceder</button>
          </form>
    </div>

<%- include('./partials/footer.ejs') %>